<mat-sidenav-container fullscreen>

    <mat-sidenav #sidenav mode="push">

        <mat-toolbar color="primary">

            <span class="spacer"></span>
            <button mat-icon-button (click)="sidenav.toggle()">
                <mat-icon>menu</mat-icon>
            </button>

        </mat-toolbar>

        <mat-nav-list>

            <!-- <a routerLink="/ventas" mat-list-item (click)="sidenav.toggle()">
                <mat-icon mat-list-icon>credit_score</mat-icon>
                <span>Reporte Ventas</span>
            </a> -->
            <a routerLink="/sales" mat-list-item (click)="sidenav.toggle()">
                <mat-icon mat-list-icon>credit_score</mat-icon>
                <span>Reporte Ventas</span>
            </a>
            <!-- <a routerLink="/ventas" mat-list-item (click)="sidenav.toggle()" >
                <mat-icon mat-list-icon>local_shipping</mat-icon>
                <span>Reporte Despachos</span>
            </a> -->
            <a routerLink="/productos" mat-list-item (click)="sidenav.toggle()">
                <mat-icon mat-list-icon>inventory_2</mat-icon>
                <span>Reporte Stock</span>
            </a>
            <a routerLink="/facturas" mat-list-item (click)="sidenav.toggle()">
                <mat-icon mat-list-icon>receipt_long</mat-icon>
                <span>Reporte Facturas</span>
            </a>
            <a routerLink="/ticket" mat-list-item (click)="sidenav.toggle()">
                <mat-icon mat-list-icon>library_books</mat-icon>
                <span>Reporte Boletas</span>
            </a>
            <!-- <a routerLink="/ventas" mat-list-item (click)="sidenav.toggle()">
                <mat-icon mat-list-icon>receipt_long</mat-icon>
                <span>Reporte Facturas</span>
            </a> -->
            <!-- <a routerLink="/ventas" mat-list-item (click)="sidenav.toggle()">
                <mat-icon mat-list-icon>library_books</mat-icon>
                <span>Reporte Boletas</span>
            </a> -->
            <!-- <a routerLink="/ventas" mat-list-item (click)="sidenav.toggle()">
                <mat-icon mat-list-icon>credit_card_off</mat-icon>
                <span>Reporte Nota Credito</span>
            </a> -->

        </mat-nav-list>

    </mat-sidenav>

    <mat-toolbar>
        <button mat-icon-button (click)="sidenav.toggle()">
            <mat-icon>menu</mat-icon>
        </button>

        <span class="spacer"></span>


    </mat-toolbar>


    <div class="container">
        <router-outlet></router-outlet>
    </div>

</mat-sidenav-container>