<h2>Consulta productos</h2>
<hr>

<div class="container">
    <div class="row">

        <form autocomplete="off">
            <div class="row">
                <mat-form-field class="col-md-11">
                    <mat-label>Producto</mat-label>
                    <input matInput type="text" name="producto" [(ngModel)]="termino" (input)="teclaPresionada()"
                        placeholder="wea" required />
                </mat-form-field>

                <button class="col-md-1" mat-icon-button color="primary" (click)="buscar()">
                    <mat-icon>search</mat-icon>
                </button>
            </div>
        </form>
    </div>
</div>

<hr>



      <div class="container" >
        <div class="row" >
        <mat-spinner class="col-md-12" *ngIf="(cargando)" ></mat-spinner>
        <app-resultados class="col-md-12" [productos]="productos" [productosAux]="productos" *ngIf="(productos.length>0)"></app-resultados>


    </div>
</div>