<form>
    <h2 style="color: brown; text-align: center;">Favor ingrese sus filtros de busqueda para obtener su informe de
        Ventas</h2>

    <div class="container">
        <div class="row">

            <mat-form-field class="col-md-3">
                <mat-label>Fecha hasta</mat-label>
                <input matInput [matDatepicker]="desde" name="fecha_desde" [(ngModel)]="fecha_desde" [max]="fecha_hasta"
                    (input)="selecionaFecha()"  required>
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matSuffix [for]="desde"></mat-datepicker-toggle>
                <mat-datepicker #desde disabled="false"></mat-datepicker>
            </mat-form-field>

            <mat-form-field class="col-md-3">
                <mat-label>Fecha hasta</mat-label>
                <input matInput [matDatepicker]="hasta" name="fecha_hasta" [(ngModel)]="fecha_hasta"
                    (input)="selecionaFecha()"  [disabled]="disable_hasta"  required>
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matSuffix [for]="hasta"></mat-datepicker-toggle>
                <mat-datepicker #hasta [disabled]="disable_hasta"></mat-datepicker>
            </mat-form-field>

            <mat-form-field class="col-md-3">
                <input matInput type="text" name="idVendedor"  [(ngModel)]="empleado"
                    placeholder="ID vendedor"/>
            </mat-form-field>

        </div>
    </div>

    <div class="container" style="margin-top: 20px;">
        <div class="row">
            <button mat-raised-button color="primary" class="col-md-12" (click)="buscar()">
                Buscar
                <mat-icon>search</mat-icon>
            </button>
        </div>
    </div>
    

</form>


