<form>
    <h2 style="color: brown; text-align: center;">Favor ingrese sus filtros de busqueda para obtener su informe de
        Ventas</h2>

    <div class="container">
        <div class="row">

            <mat-form-field class="col-md-4">
                <mat-label>Fecha desde</mat-label>
                <input matInput [matDatepicker]="desde" name="fecha_desde" [(ngModel)]="fecha_desde" [max] = "diaActual"
                    (input)="selecionaFecha()" (dateChange)="selecionaFecha()">
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matSuffix [for]="desde"></mat-datepicker-toggle>
                <mat-datepicker #desde disabled="false"></mat-datepicker>
            </mat-form-field>

            <mat-form-field class="col-md-4">
                <mat-label>Fecha hasta</mat-label>
                <input matInput [matDatepicker]="hasta" name="fecha_hasta" [(ngModel)]="fecha_hasta" [min]="fecha_desde"
                    (input)="selecionaFecha()" (dateChange)="selecionaFecha()"  [disabled]="disable_hasta">
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matSuffix [for]="hasta"></mat-datepicker-toggle>
                <mat-datepicker #hasta [disabled]="disable_hasta" ></mat-datepicker>
            </mat-form-field>

            <mat-form-field class="col-md-4">
                <input matInput type="text" name="idVendedor" [(ngModel)]="empleado"
                    placeholder="ID vendedor"/>
            </mat-form-field>

        </div>
    </div>

    <div class="container" style="margin-top: 20px;">
        <div class="row">
            <button mat-raised-button color="primary" class="col-md-12" (click)="buscar()">
                Buscar
                <mat-icon>search</mat-icon>
            </button>
        </div>
    </div>
    

</form>
<p-divider></p-divider>
<div class="container" >
    <div class="row" >
    <mat-spinner class="col-md-12" *ngIf="(cargando)" ></mat-spinner>
    <app-resultados-ventas class="col-md-12" [ventas]="ventas" [ventasAux]="ventas" *ngIf="(ventas.length>0)"></app-resultados-ventas>


</div>
</div>
